In [203]:
#1. Create Variable

In [210]:
#2. Integer, float, str, boolean, complex ,list

In [204]:
a=5
a

5

In [205]:
f1=10.208
f1

10.208

In [206]:
string_verileni= "homework1"
string_verileni

'homework1'

In [207]:
b= True
b

True

In [208]:
ComplexNumber= -4+7j
ComplexNumber

(-4+7j)

In [209]:
list1=[12,13,22,55,66]
list1

[12, 13, 22, 55, 66]

In [211]:
#3. Print type of variables

In [212]:
type(a)

int

In [213]:
type(f1)

float

In [214]:
type(string_verileni)

str

In [215]:
type(b)

bool

In [216]:
type(ComplexNumber)

complex

In [217]:
type(list1)

list

In [218]:
#4. Change type of variables. For example: from integer to float or  boolean  and their opposites

In [219]:
a1= float(a)
a1

5.0

In [220]:
f2=int(f1)
f2

10

In [227]:
a2=bool(a)
a2

True

In [228]:
a3=complex(a)
a3

(5+0j)

In [229]:
f3=complex(f1)
f3

(10.208+0j)

In [230]:
b1=int(b)
b1

1

In [231]:
b2=float(b)
b2

1.0

In [232]:
f5=bool(f1)
f5

True

In [233]:
string_verileni1=bool(string_verileni)
string_verileni1

True

In [ ]:
#5. Use the OR ,AND operation to determine the relationship between booleans 
# and print results

In [ ]:
(25<35) and (23<33)

True

In [ ]:
s1=10
s2=15
y1=10
y2=55
(s1==y1) and (s2==y2)

False

In [ ]:
(s1!=y1) & (s2 is not y2)

False

In [ ]:
not True and (s2==y2)

False

In [ ]:
m1=88
m2=44

(m1 is m2) or (m1 is not m2)

True

In [ ]:

not (m1 is m2) | (m1 is m2)

True

In [ ]:
(66<=33) or (13!=13)

False

In [ ]:
True or not False

True

In [ ]:
#6. Use Operators

In [ ]:
int1=98
int2= 3
int1+int2 , int1-int2, int1*int2, int1/int2, int1//int2, int1%int2

(101, 95, 294, 32.666666666666664, 32, 2)

In [ ]:
fn=5
pow1=3
import math as th
end= th.pow(fn,pow1)
end

125.0

In [ ]:
#7. Create string and print type and length of this string.

In [ ]:
string1= "I hope that I will get the highest point"
string1

'I hope that I will get the highest point'

In [ ]:
type(string1)

str

In [ ]:
len(string1)

40

In [ ]:
#8. Try to change words inside str.

In [ ]:
string2=string1.replace("the highest","maximum")
string2

'I hope that I will get maximum point'

In [ ]:
#9. Print elements of str with using of indexes

In [ ]:
string2[5]

'e'

In [ ]:
string2[-13:]

'maximum point'

In [ ]:
string2[5:30:3]

'eh wlemim'

In [ ]:
#10. Try to print results using C style formatting. Use 2 methods

In [ ]:
bb= 16.5
bb2=30
bb3=" if we divide 33 by 2, answer is %f and  if we divide 60 by 2, answer is %d" %(bb,bb2)
bb3

' if we divide 33 by 2, answer is 16.500000 and  if we divide 60 by 2, answer is 30'

In [ ]:
bb4=" if we divide 33 by 2, answer is {0} and  if we divide 60 by 2, answer is {1}".format(bb,bb2)
bb4

' if we divide 33 by 2, answer is 16.5 and  if we divide 60 by 2, answer is 30'

In [ ]:
#11. Create List and nested list.

In [ ]:
list1

[12, 13, 22, 55, 66]

In [3]:
my_List=[[i+j for i in range(2,8)] for j in range(5)]
my_List

[[2, 3, 4, 5, 6, 7],
 [3, 4, 5, 6, 7, 8],
 [4, 5, 6, 7, 8, 9],
 [5, 6, 7, 8, 9, 10],
 [6, 7, 8, 9, 10, 11]]

In [ ]:
#12. Try splitting list using indexes. Print parts.

In [ ]:
list1[0]

12

In [4]:
my_List[0:2]

[[2, 3, 4, 5, 6, 7], [3, 4, 5, 6, 7, 8]]

In [11]:
my_List[3:]

[[5, 6, 7, 8, 9, 10], [6, 7, 8, 9, 10, 11]]

In [10]:
my_List[0:5:2]

[[2, 3, 4, 5, 6, 7], [4, 5, 6, 7, 8, 9], [6, 7, 8, 9, 10, 11]]

In [ ]:
#13. Try to print the results of the same list from back to front (in 1 step)

In [21]:
list3= ["apple","pear","strawberry","melon"]
list3[::-1]

['melon', 'strawberry', 'pear', 'apple']

In [22]:
l = [3,4,5,6,7,8,9,10]
l.reverse()
l

[10, 9, 8, 7, 6, 5, 4, 3]

In [277]:
#14. Create a list with a certain interval (use the built-in functions)

In [25]:
list_ranged=list(range(10,200,13))
list_ranged

[10, 23, 36, 49, 62, 75, 88, 101, 114, 127, 140, 153, 166, 179, 192]

In [279]:
#15. Create string and add elements of string to list

In [53]:
string_mine='How can I learn Python easily?'

In [27]:
list_from_str=string_mine.split(" ")
list_from_str

['How', 'can', 'I', 'learn', 'Python', 'easily?']