
1. List Functions:

a) Write a function that takes a list as input and returns the sum of all elements in the list.
b) Create a function that receives a list of numbers and returns a new list with only the even numbers.
c) Implement a function that reverses a given list.

In [4]:
#1-a
def list_create(l):
    sumOflist=sum(l)
    return sumOflist

In [5]:
list_create([1,2,3,4,5])

15

In [6]:
#1-b
def funct1(l):
    
    if l%2==0:
        return True
    return False

In [8]:
list(filter(funct1,range(0,10)))

[0, 2, 4, 6, 8]

In [9]:
#1-c
def myf(l):
    m=l[::-1]
    return m

In [10]:
myf([5,6,7,8,1,2])

[2, 1, 8, 7, 6, 5]

2. Tuple Functions:

a) Write a function that takes a tuple as input and returns the product of all elements in the tuple.
b) Create a function that receives a tuple of strings and returns a new tuple with only the strings of length less than 5.
c) Implement a function that concatenates two tuples and returns the result.

In [122]:
#2-a
def f2(x1,x2):
    return x1*x2

In [123]:
from functools import reduce
reduce(f2,(1,2,3,4))

24

In [14]:
#or 
reduce(lambda x,y:x*y,(1,2,3,4))

24

In [17]:
#2-b
def f2(m):
    
    if len(m)<5:
        return True
    return False

In [18]:
tuple(filter(f2,("hello","hi","hola","merhaba","salam")))

('hi', 'hola')

In [19]:
#2-c
def funct4(x1,x2):
    return x1+x2

In [20]:
reduce(funct4,((1,2,3,4,5),(6,7,8,9)))

(1, 2, 3, 4, 5, 6, 7, 8, 9)

3. Dictionary Functions:

a) Write a function that takes a dictionary as input and returns a list of its keys.
b) Create a function that receives a dictionary and a value, and returns a list of keys that match that value.
c) Implement a function that combines two dictionaries into one and returns the result.

In [21]:
#3-a
def funct5(mydict):
    t=[]
    keys=mydict.keys()
    for i in keys:
        t.append(i)
    return t

In [31]:
funct5({"Name":"Sevda",
"Age":23,
"Weight":49,
"Student?":"Yes"})

['Name', 'Age', 'Weight', 'Student?']

In [168]:
#3-b
def funct6(my_dict,value):
    l=[]
    
    for i in zip(my_dict.keys(),my_dict.values()):
       
        if value==i[1]:
            l.append(i[0])
    return l

In [170]:
my_dict={"a":10,
"b":15,
"c":20}

In [173]:
funct6(my_dict, 15)

['b']

In [129]:
#3-c
def funct7(a,b):
    c={**a,**b}
    return c

In [131]:
a={"a":10,
"b":15,
"c":20}
b={"d":35,
"e":40}

In [132]:
funct7(a,b)

{'a': 10, 'b': 15, 'c': 20, 'd': 35, 'e': 40}

4. If-Else Functions:

a) Write a function that takes an integer as input and returns "Even" if it's even, and "Odd" otherwise.
b) Create a function that checks if a given string is a palindrome or not.

In [82]:
#4-a

def f3(n1):
    if n1%2==0:
        return "even"
    
    return "odd"

In [84]:
f3(561)

'odd'

In [85]:
#4-b
def f4(str1):
    if str1==str1[::-1]:
        return "Palindrome"
    return "Not Palindrome"

In [88]:
f4("telet")

'Palindrome'

5. While Loop Functions:

a) Write a function that takes an integer as input and prints all numbers from 1 to that integer using a while loop.
b) Create a function that calculates the factorial of a given positive integer using a while loop.

In [91]:
#5-a
def f5(int1):
    i=1
    while i<=int1:
        print(i)
        i+=1

In [92]:
f5(7)

1
2
3
4
5
6
7

In [98]:
#5-b
def f6(n):
    i=1
    while n>0:
        i=i*n
        n-=1
    return i

In [100]:
f6(6)

720

6. For Loop Functions:

a) Implement a function that takes a list of strings and prints each string on a new line using a for loop.
b) Create a function that calculates the sum of squares of all numbers in a given list using a for loop.

In [107]:
#6-a
def f7(l):
    for i in l:
        print(i)

In [108]:
f7(["hi","hello","hola","salam","merhaba"])

hi
hello
hola
salam
merhaba

In [115]:
#6-b
def f8(l=[1,2,3,4]):
    i=0
    for m in l:
        i+=m**2
    return i

In [116]:
f8()

30

7. Filter Function:

a) Write a function that takes a list of numbers and returns a new list with only the positive numbers using the filter function.

In [117]:
#7
def f9(n):
    if n>0:
        return True
    return False

In [118]:
list(filter(f9,[1,-2,3,0,9,-10]))

[1, 3, 9]

8. Reduce Function:

a) Implement a function that takes a list of numbers and returns the product of all elements using the reduce function.

In [119]:
#8
def f10(x1,x2):
    return x1*x2

In [124]:
reduce(f10,[5,6,7,8])

1680

9. Map Function:

a) Write a function that takes a list of temperatures in Celsius and returns a new list with corresponding temperatures in Fahrenheit using the map function.

In [ ]:
#9
C=[10,25,30,-20]

list(map(c))

In [127]:
def c_f(c):
    return ((c*9)/5)+32

In [128]:
list(map(c_f,[10,25,30,-20]))

[50.0, 77.0, 86.0, -4.0]

10. Zip Function:

a) Create a function that takes two lists of the same length and returns a new list of tuples, where each tuple contains elements from both lists paired together using the zip function.

In [125]:
#10
def f11(l1,l2):
    return list(zip(l1,l2))

In [126]:
f11([1,2,3,4],["a","b","c","d"])

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]